<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,shrink-to-fit=no,user-scalable=no,minimal-ui" name="viewport"/>
<meta name ="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
<title>BIM</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/layui/css/layui.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/bim/css/bim-css.css');?>" />
<script type="text/javascript" src="<?php echo apth_url('subject/bim/js/jquery.min.js');?>"></script>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layui/layui.js');?>"></script>

</head>
<body class="bim-body">
<div class="mian-box">
	<img src="<?php echo apth_url('subject/bim/images/bim-banner.jpg');?>" alt="" class="bim-banner" data-scroll-reveal="enter bottom and after 0s" data-scroll-reveal-id="">
	<?php yeslisttofrom()?>
<!--菜单-->
	<ul class="mian-bg menu-ul" data-scroll-reveal="enter bottom and after 0s">
		<li>
			<a href="#kqpx">
				<img src="<?php echo apth_url('subject/bim/images/icon-01.png');?>" alt="" class="menu-icon">
				<p class="menu-p">课程介绍</p>
			</a>
		</li>

		<li>
			<a href="#htx">
				<img src="<?php echo apth_url('subject/bim/images/icon-02.png');?>" alt="" class="menu-icon">
				<p class="menu-p">关于火天信</p>
			</a>
		</li>

		<li>
			<a href="#kqpx">
				<img src="<?php echo apth_url('subject/bim/images/icon-03.png');?>" alt="" class="menu-icon">
				<p class="menu-p">考前培训</p>
			</a>
		</li>

		<li>
			<a href="#sqst">
				<img src="<?php echo apth_url('subject/bim/images/icon-04.png');?>" alt="" class="menu-icon">
				<p class="menu-p">报考入口</p>
			</a>
		</li>
	</ul>

<!--学习必备-->
	<div class="mian-bg padd06 mian-2" data-scroll-reveal="enter bottom and after 0.2s">
		<div class="font8 text-center">学习 <span class="d83c4c">BIM</span> 求职必备神器 </div>

		<div style="color:#444; margin-top:0.4rem; line-height:0.8rem;text-align: justify;" class="font65">BIM (建筑信息化模型) 的应用已经是工程建筑行业的标准化，覆盖：房地产规划、投标招标、建模设计、造价、建造施工等领域</div>

		<div style="margin:0.4rem 0;"><img src="<?php echo apth_url('subject/bim/images/img-01.png');?>" alt=""></div>

		<div class="before font65">住建部：将为BIM开设成本科目</div>

		<div class="before font65">住建部：房屋建筑施工企业将强制性使用BIM</div>
	</div>

<!--什么人适合学习bim-->
	<div class="mian-bg padd06 mian-3" data-scroll-reveal="enter bottom and after 0.2s">
		<div class="font8 text-center" style="color:#fff;">什么人适合学习 <span class="d83c4c">BIM</span> ？</div>

		<ul class="mian-3-ul">
			<li style="margin-left:0;"><a href="javascript:void(0)" class="mian-3-a1">毕业生.在读生</a></li>

			<li><a href="javascript:void(0)" class="mian-3-a2">想考取建造师</a></li>

			<li><a href="javascript:void(0)" class="mian-3-a3">在职自我提升</a></li>

			<li style="margin-left:0;"><a href="javascript:void(0)" class="mian-3-a4">想挑战高薪</a></li>

			<li><a href="javascript:void(0)" class="mian-3-a5">跨专业转行</a></li>

			<li><a href="javascript:void(0)" class="mian-3-a6">想终生铁饭碗</a></li>
		</ul>
	</div>

<!--岗位发展方向-->
	<div style="margin:0.4rem 0;"><img src="<?php echo apth_url('subject/bim/images/img-02.jpg');?>" alt=""></div>


<!--是否还在犹豫-->
	<div class="mian-bg padd06 mian-4" data-scroll-reveal="enter bottom and after 0.2s">
		<div class="font8 text-center">面对如下问题，你是否还在犹豫</div>

		<ul class="mian-4-ul">
			<li><span class="d83c4c font9">01</span><p>0基础怕学不会?</p></li>

			<li><span class="d83c4c font9">02</span><p>能不能试课?</p></li>

			<li><span class="d83c4c font9">03</span><p>学好怎么找工作？</p></li>

			<li><span class="d83c4c font9">04</span><p>毕业时,薪资多少？</p></li>
		</ul>
	</div>

<!--bim中心-->
	<div class="mian-bg padd06 mian-2" data-scroll-reveal="enter bottom and after 0.2s">
		<div class="font8 text-center">联合区内<span class="d83c4c">23</span>所高校签订校企战略合作协议书推出校企共建BIM<span class="d83c4c">实训中心</span>，BIM培训<span class="d83c4c">认证中心</span></div>

		<div style="margin:0.4rem 0;"><img src="<?php echo apth_url('subject/bim/images/img-03.jpg');?>" alt=""style="border-radius: 6px;"></div>
	</div>

<!--模式与服务-->
	<div class="mian-bg padd06" data-scroll-reveal="enter bottom and after 0.2s">
		<div class="font8 text-center">培训教学<span class="d83c4c">模式</span> 与 <span class="d83c4c">服务</span></div>

		<ul class="mian-5-ul">
			<li>
				<section class="mian-5-section mian-5-section1" style="	border: 0.05rem solid #b9e3f9; margin-left: 10%;">
					<div class="mian-5-top" style="background-color: #b9e3f9; color: #007bb9;">先试课</div>
					<div class="font6 margin1" style="padding:0 0.6rem; text-align: justify; margin-top:0.8rem;">对课程和规划有个概念，确认是否符合自己</div>
					<b class="mian-5-b" style="background-color: #007bb9;">01</b>
				</section>
			</li>

			<li>
				<section class="mian-5-section mian-5-section1" style="	border: 0.05rem solid #e1efe2; margin-left: 14%;">
					<div class="mian-5-top" style="background-color: #e1efe2; color: #32b372;">小班制</div>
					<div class="font6 margin1" style="padding:0 0.6rem; text-align: justify; margin-top:0.8rem;">实地短期实训教学，做时下最热门的项目实训</div>
					<b class="mian-5-b" style="background-color: #32b372;">02</b>
				</section>
			</li>

			<li>
				<section class="mian-5-section mian-5-section1" style="	border: 0.05rem solid #fde792; margin-left: 10%;">
					<div class="mian-5-top" style="background-color: #fde792; color: #f39801;">考前培训</div>
					<div class="font6 margin1" style="padding:0 0.6rem; text-align: justify; margin-top:0.8rem;">考题分析、答题技巧、考试模拟演练</div>
					<b class="mian-5-b" style="background-color: #f39801;">03</b>
				</section>
			</li>

			<li>
				<section class="mian-5-section mian-5-section1" style="	border: 0.05rem solid #f9c385; margin-left: 14%;">
					<div class="mian-5-top" style="background-color: #f9c385; color: #eb5403;">资料视频库</div>
					<div class="font6" style="padding:0 0.6rem; text-align: justify; margin-top:0.3rem;">火天信建筑培训基地随时提供观看VIP精品课件视频下载工程资料</div>
					<b class="mian-5-b" style="background-color: #eb5403;">04</b>
				</section>
			</li>

			<li>
				<section class="mian-5-section mian-5-section1" style="	border: 0.05rem solid #bbb3d8; margin-left: 10%;">
					<div class="mian-5-top" style="background-color: #bbb3d8; color: #6357a3;">VIP微信交流群</div>
					<div class="font6 margin1" style="padding:0 0.6rem; text-align: justify; margin-top:0.8rem;">课后讲师解答，考前服务，学员交流</div>
					<b class="mian-5-b" style="background-color: #6357a3;">05</b>
				</section>
			</li>

			<li>
				<section class="mian-5-section mian-5-section1" style="	border: 0.05rem solid #aed9fc; margin-left: 14%;">
					<div class="mian-5-top" style="background-color: #aed9fc; color: #268ddf;">教学售后</div>
					<div class="font6 margin1" style="padding:0 0.6rem; text-align: justify; margin-top:0.8rem;">学不会、考试不过，免费重新再学一次</div>
					<b class="mian-5-b" style="background-color: #268ddf;">06</b>
				</section>
			</li>
		</ul>
	</div>

<!--课程介绍-->
	<div class="mian-bg padd06" id="kqpx" data-scroll-reveal="enter bottom and after 0.2s">
		<div class="font8 text-center"><span class="d83c4c">0</span> 基础学习  <span class="d83c4c">BIM</span> 考前培训</div>

		<div class="mian-6-div">
			<span style="background:#efb0b7;">包教学</span>
			<span style="background:#e68994;">包实战</span>
			<span style="background:#de6170;">包考证</span>
			<span style="background:#da4d5e;">包就业</span>
		</div>
		
		<div class="font75" style="text-align:center; border: 1px solid #e0e0e0; border-bottom:none;padding:0.2rem 0;">BIM课程介绍</div>

		<table border="1" class="bim-table">
			<tr>
				<th width="16%">应用基础</th>
				<th width="15%">Revit</br>Lumion</br>Ffuzo等</th>
				<th width="13%">56课时</th>
				<th style="text-align:justify; padding:0.4rem 0.2rem;">学习建模软件功能并建立基础模型，对软件基础操作水平掌握，有一定的软件应用能力，独立完成BIM建模能力等课程</th>
			</tr>

			<tr>
				<th width="16%">项目实战</th>
				<th width="15%">Revit</br>Lumion</br>Ffuzo等</th>
				<th width="13%">60课时</th>
				<th style="text-align:justify; padding:0.4rem 0.2rem;">城市规划设计及场地、土建工程、机电工程设备安装 楼宇自动化等 各个领域项目实际操作训练</th>
			</tr>

			<tr>
				<th width="16%">考前培训</th>
				<th width="15%">Revit</th>
				<th width="13%">90课时</th>
				<th style="text-align:justify; padding:0.4rem 0.2rem;">BIM建模应用，BIM考试模拟题讲解、考试题型分析、答题方法和技巧、考试模拟演练</th>
			</tr>
		</table>

		<div class="font65" style="text-align:; border: 1px solid #e0e0e0; border-top:none;padding:0.2rem 0.4rem"><span class="d83c4c">12</span> 年项目经理亲自带领，最正确的实战教学方式，<span class="d83c4c">7</span> 天魔鬼强化训练，<span class="d83c4c">15</span> 天实战实操</div>
	</div>

<!--证书-->
	<div class="mian-bg" style="padding-top:0.6rem;" id="htx" data-scroll-reveal="enter bottom and after 0.2s">
		<div class="font8 text-center">广西火天信工程建筑培训基地</div>

		<div style="margin:0.4rem 0;"><img src="<?php echo apth_url('subject/bim/images/img-04.jpg');?>" alt=""></div>
	</div>

<!--合作-->
	<div class="mian-bg mian-tabbox" style="padding:0.6rem 0;" data-scroll-reveal="enter bottom and after 0.2s">
		<div class="mian-tab">
			<span class="span">知名企业</span>
			<span>合作院校</span>
		</div>

		<ul class="cooperation-ul cooperation-ul-show">
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/qy1.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/qy2.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/qy3.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/qy4.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/qy5.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/qy6.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/qy7.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/qy8.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/qy9.jpg');?>" alt=""></a></li>
		</ul>

		<ul class="cooperation-ul">
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/yx1.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/yx2.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/yx3.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/yx4.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/yx5.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/yx6.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/yx7.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/yx8.jpg');?>" alt=""></a></li>
			<li><a href=""><img src="<?php echo apth_url('subject/bim/images/yx9.jpg');?>" alt=""></a></li>
		</ul>
	</div>

<!--表单-->
	<div class="formbox" id="sqst" data-scroll-reveal="enter bottom and after 0.2s">
		<div  id="win"><img src="<?php echo apth_url('subject/bim/images/bg-02.png');?>" alt=""></div> 
		<div style="opacity: 0;"><img src="<?php echo apth_url('subject/bim/images/bg-02.png');?>" alt=""></div>
		<div class="formdiv">
			<div class="font8 text-center" style="color:#fff; padding:0.6rem 0 0rem 0;">未来不只是梦想</div>
			<div class="font6 text-center" style="color:#fff;">2018年成为炙手可热的BIM人才</div>
			<form class="form" action="<?php echo apth_url('index.php?act=SendNameInfo');?>">
				<ul>
					<li>
						<table class="form-table1"></table>
						<input type="text" value="" name="name" placeholder="请输入您的姓名" class="input">
					</li>
					<li>
						<table class="form-table1 form-table2"></table>
						<input type="text" value="" name="tel" placeholder="请输入您的手机号" class="input">
					</li>
					<li>
						<table class="form-table1 form-table3"></table>
						<input type="hidden" name="flag" value="<?php echo $u_id;?>"/>
						<input type="text" value="" name="qq" placeholder="请输入您的QQ" class="input">
					</li>
				</ul>
				<div><input type="button" value="点击提交" class="input-btn" onclick="SendForm();"></div>
			</form>
			<div class="zhushi">每周前20名报名 </br>享受免费试听名额</div>
		</div>
	</div>
	<div class="pay-succ padd06" style="background:#fff; margin-top:0.8rem; display:none;" id="pay-succ-allinfo">
	
		<div class="pay-succ-div">
			<div class="div-icon"><i class="layui-icon">&#xe605;</i></div>
			<p style="font-size:1rem;">报名成功!</p>
			<p style="text-align:left; text-align:justify" >请保持电话畅通，广西BIM培训中心老师稍后会与你联系，并安排试课、培训、考试、工作等流程</p>
			<p style="font-size:1rem; text-align:left">报名信息：</p>

			<div class="font8" style="text-align:center; border: 1px solid #e0e0e0; border-bottom:none;padding:0.4rem 0;">张三李四</div>
			<table border="1" class="bim-table bim-table1">
				<tr>
					<th width="30%">电话</th>
					<th width="70%">139888888888</th>
				</tr>

				<tr>
					<th width="30%">QQ</th>
					<th width="70%">134567822</th>
				</tr>
			</table>
		</div>
		
	</div>
	<div style="height:3.7rem;"></div>
</div>
<!-- 底部 菜单-->
<div class="footer-menu">
	<ul class="footer-menu-ul">
		<li>
			<a href="http://mf.htxgcw.com" class="a">
				<img src="<?php echo apth_url('subject/bim/images/icon-15.png');?>" alt="线上培训">
				<p>线上培训</p>
			</a>
		</li>

		<li class="menu-message">
			<a href="javascript:void(0);" onclick="QQ_SendTan();">
				<img src="<?php echo apth_url('subject/bim/images/icon-16.png');?>" alt="QQ咨询">
				<p>QQ咨询</p>
			</a>
		</li>

		<li class="more-icon">
			<a href="tel:400-626-3980">
				<img src="<?php echo apth_url('subject/bim/images/icon-17.png');?>" alt="电话咨询">
				<p>电话咨询</p>
			</a>
		</li>

		<li id="bt">
			<a href="javascript:void(0);" id="sqst" onclick="javascript:document.getElementsByTagName('BODY')[0].scrollTop=document.getElementsByTagName('BODY')[0].scrollHeight;">
				<img src="<?php echo apth_url('subject/bim/images/icon-18.png');?>" alt="报名站位">
				<p>报名站位</p>
			</a>
		</li>
		
	</ul>
</div>
<script type="text/javascript" src="<?php echo apth_url('subject/bim/layui/layui.all.js');?>"></script>
<!-- /底部 菜单-->
<script>
	$(function(){
		auto();
	});
	$(window).resize(function(){
		auto();
	});
	function auto(){
		var meta = $("body").width()
		var a = 375/20;
		var d = meta/a;
		if(meta>375){
			$("html").css({"font-size":""+d+"px"});
		}
		else{
			$("html").css({"font-size":"20px"});
		};
	};
	function SendForm()
	{
		var relphone =/^0?(13|14|15|17|18)[0-9]{9}$/;	
		var name = $("[name='name']").val();
		if(name=='')
		{
			layui.use('layer', function(){
				  var layer = layui.layer;		  
				  layer.msg('请输入姓名');
			}); 
			return false;
		}
		var tel = $("[name='tel']").val();
		if(tel=='')
		{
			layui.use('layer', function(){
				  var layer = layui.layer;		  
				  layer.msg('请输入手机');
			}); 
			return false;
		}
		if(!relphone.test(tel)){
			layui.use('layer', function(){
				  var layer = layui.layer;		  
				  layer.msg('手机号码不正确');
			}); 
			return false;
		}
		var tel = $("[name='qq']").val();
		if( tel == '' )
		{
			layui.use('layer', function(){
				  var layer = layui.layer;		  
				  layer.msg('请输入QQ号码');
			}); 
			return false;
		}
		
		$.ajax({
			url:$(".form").attr('action'),
			type:'POST',
			data:$(".form").serialize(),
			success:function(d){	
				//console.log(d);return false;
				var obj = eval("("+d+")");
				if( obj.error == 0 )
				{
					$(".form")[0].reset();
					
					$("#pay-succ-allinfo").html(obj.txt);
					
					layui.use('layer', function(){
						  var layer = layui.layer;		  
						  layer.msg('报名成功',{time:1000},function(){
							  //location.href="<?php echo apth_url('?act=bim_success');?>";
							  hide();
						  });
					});						
				}	
				else
				{
					layui.use('layer', function(){
						  var layer = layui.layer;		  
						  layer.msg(obj.txt);
					});	
				}	
			}
		});
		return false;
	}
</script>
<script>
$(document).ready(function(e){
  $(".mian-tab span").click(function(){
    $(this).addClass("mian-tab span").siblings(".mian-tab .span").removeClass("mian-tab span");
    var index=$(this).index();
    $(".cooperation-ul").eq(index).show().siblings(".cooperation-ul").hide();
  });
});
</script>
<script type="text/javascript"> 
	var a=['top','left'];
	var b=0; 
	var u;
	function fudu()
	{ 
	 win.style[a[b%2]]=(b++)%4<2?"0px":"2px"; 
	 if(b>10)
	 {
	 clearInterval(u);
	 b=0
	 } 
	}
	function zd()
	{
	 clearInterval(u); 
	 u=setInterval(fudu,32) 
	} 
	window.onload=function()
	{
	 var bt=document.getElementById("bt");
	 var win=document.getElementById("win");
	 bt.onclick=zd;
	}
</script>
<script>
function hide(){
	$(".formbox").hide();
	$(".pay-succ").show();
}
function QQ_SendTan()
{
	var ua = navigator.userAgent.toLowerCase();//获取判断用的对象
	if(ua.match(/MicroMessenger/i) == "micromessenger")
	{//微信
		layui.use('layer', function(){
			  var layer = layui.layer;		  
			  layer.msg('使用QQ对话，请点击右上角，在浏览器打开');
		});	
	}
	else
	{
		window.open("mqqwpa://im/chat?chat_type=wpa&uin=2851218873&version=1&src_type=web&web_src=lvlingseeds.com");
	}
}
</script>
</body>
</html>